body {
    background-color: rgb(37, 40, 48);
    /*color: white;*/
    /*color: rgb(207, 210, 218);*/
    color: white;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    color: white;
}

.h2 {
    margin-bottom: 25px;
}

.table {
    color: white;
}

#main-container {
    margin-top: 75px;
}

.navbar-dark {
    background-color: #1a1c22 !important;
}

button.btn-primary {
    color: #1997c6;
    background-color: transparent;
    background-image: none;
    border-color: #1997c6;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    /*color: #fff;*/
    /*background-color: #00b3db;*/
    border-color: #285e8e; /*set the color you want here*/
}

.hidden {
    display: none;
}